.color-red{
  color: #f653c9;
  font-weight: 500;
}

.color-orange-deep {
  color: #ac100b;
  font-weight: 500;
}

.color-orange {
  color: #f66e07;
  font-weight: 500;
}

.color-orange-light {
  color: #f39f3d;
  font-weight: 500;
}

.color-green-deep {
  color: #039003;
  font-weight: 500;
}

.color-green {
  color: #19c919;
  font-weight: 500;
}

.color-green-light {
  color: #89ea89;
  font-weight: 500;
}


.color-blue-deep {
  color: #0458a8;
  font-weight: 500;
}

.color-blue {
  color: #04a3fa;
  font-weight: 500;
}

.color-blue-light {
  color: #8acdf8;
  font-weight: 500;
}

.color-purple-deep {
  color: #7402d7;
  font-weight: 500;
}

.color-purple {
  color: #cf09f1;
  font-weight: 500;
}

.color-purple-light {
  color: #ea88fc;
  font-weight: 500;
}
